<ion-view cache-view="false">
  <ion-content scroll="false" style="overflow-y: scroll;">
      <!--<div class="item item-divider"style="background-color:#4D4C4D;color:white;margin-top:10px">
          
      </div>-->
      <div class="row" >
          <div class="col">
      <div  class="border dashboard-tile" style="border-bottom:1px solid #b3b3b3;margin-bottom:20px;position:relative"  ng-repeat="data in propertyDetails track by $index">

          <div class="row g-1-head" style="position: absolute;background-color:black;opacity:0.6;color:white;height:40px">
              <div class="col col-60 text-left">
                  <img style="float:left" src="img/clock.png" width="20" />&nbsp;&nbsp;&nbsp;&nbsp;<p style="color:white;float:left;padding-left:10px;line-height: 0.4;">{{data.ending_time}} days remaining</p>
                  
              </div>
              <div class="col text-right">
                  <!--<label>
                      {{data.city}}, {{data.province}}
                  </label>-->
                  <img src="img/people.png" width="20" />&nbsp;&nbsp;&nbsp;<label>{{data.investors.length}} investors</label>
              </div>
          </div>
          <div class="building" style="background-image:url({{data.image_url}});margin-top: 0px;display: flex;">
              <div class="propert_name"><p>{{data.property_description_address}}</p></div>
          <div class="row row-no-padding ht25" style="opacity: 0.8;
    align-self: flex-end;">
              <div class="col col-66 row-no-padding text-left sign-in-btn text-white fs-18 " style="max-width:{{data.percentAmountInvested}}%">
                  <label class="txt-posii-top" style="text-align: right;
    padding-left: 5px;vertical-align: middle;">{{data.percentAmountInvested}}%</label>
              </div>
              <div class="col row-no-padding text-right text-clr-grey fs-18 " style="background-color:black;color:white">
                  <label class="txt-posii-top" style="padding-right: 20px;vertical-align: middle;">${{data.funding_amount}}</label>
              </div>
          </div>
          </div>
          <div class="row" style="margin-top:10px">
              <div class="col col-25 text-center">
                  <img src="img/calclendar.png" width="32" />
              </div>
              <div class="col col text-center">
                  <img src="img/money.png" width="50" height="32" />
              </div>
              <div class="col col-25 text-center">
                  <img src="img/stats.png" width="38" height="31" />
              </div>
          </div>
          <div class="row text-center row-no-padding">
              <div class="col col-25 row-no-padding">
                  <p style="font-size:12px">{{data.term}} Months <br /><span class="blue_color">Term</span></p>
              </div>
              <div class="col row-no-padding"> 
                  <p style="font-size:12px">${{data.min_invest_amount}} +<span> $50 Admin Fees</span><br /><span class="blue_color"> Minimum Investment</span></p>
              </div>
              <div class="col col-25 row-no-padding">
                  <p style="font-size:12px"> {{data.anual_return}}% (Est.)<br /><span class="blue_color">ROI Per Annum</span></p>
              </div>
          </div>
          <!--<div class="item item-divider" style="background-color:#b3b3b3;">
             
          </div>-->
          <div><button class="sign-in-btn button button-balanced button-full text-center fs-24" style="margin:0px; font-size: 20px;min-height:56px" ng-click="viewProperty($index)">View Property</button></div>
      </div>
      </div>
      </div>
    
  </ion-content>
   
</ion-view>
