<ion-view>
  <ion-content>

  <div class="list">
    <a class="item" href="#">
      Who We Are
    </a>
    <a class="item" href="#">
      What’s New
    </a>
    <a class="item" href="#">
      Raise Capital
    </a>
    <a class="item" href="#">
      Document Centre
    </a>
    <a class="item" href="#">
      Contact Us
    </a>
    <a class="item border-none item-icon-right"> 
       Documents
       <i class="icon"><img src="img/down-arrow.png" style="width: 60%;"></i>
   </a>
   <a class="item" href="#">
      Disclaimer
    </a>
    <a class="item" href="#">
      Terms of Use & Privacy Policy
    </a>
    <a class="item" href="#">
      Log Out
    </a>
    <a class="item" href="#">
      
    </a>

    <div class="row" style="    padding: 16px;">
      <div class="col col-25"><img src="img/fb.png" style="width: 34%;"></div>
      <div class="col col-25"><img src="img/in.png" style="width: 50%;"></div>
      <div class="col col-25"><img src="img/twit.png" style="width: 64%;"></div>
      <div class="col col-25"><img src="img/insta.png" style="width: 58%;"></div>
    </div>

</div>



  </ion-content>
   
</ion-view>
