<ion-view>
  <ion-content>
      <div class="list">
          <div class="item item-divider">
            NEW
          </div>

          <div class="row ">
                 <div class="col no-padding">
                      <div class="list mar0" >
                        <a class="item item-avatar form-noti ">
                          <img src="img/circle.png">
                          <p class="wyt-spc">&lt;Username&gt; liked your comment on < property > .2h</p>
                        </a>
                      </div>
                      <div class="list mar0 " >
                        <a class="item item-avatar form-noti ">
                          <img src="img/circle.png">
                          <p class="wyt-spc">&lt;Username&gt; started following you! 2h</p>
                        </a>
                      </div>
                      <div class="list mar0" >
                        <a class="item item-avatar form-noti ">
                          <img src="img/circle.png">
                          <p class="wyt-spc">&lt;Property&gt; has just been funded! 2h</p>
                        </a>
                      </div> 
                      <div class="list mar0" >
                        <a class="item item-avatar border-none">
                          <img src="img/circle.png">
                          <p class="wyt-spc">&lt;Property&gt; is now 85% funded! 2h</p>
                        </a>
                      </div> 
                </div>
          </div>

          <div class="item item-divider" ui-sref="document">
            SEEN
          </div>

          <div class="row ">
                 <div class="col no-padding">
                      <div class="list mar0" >
                        <a class="item item-avatar form-noti ">
                          <img src="img/circle.png">
                          <p class="wyt-spc">&lt;Property&gt; was not funded. 2h</p>
                        </a>
                      </div>
                      <div class="list mar0 " >
                        <a class="item item-avatar form-noti ">
                          <img src="img/circle.png">
                          <p class="wyt-spc">&lt;Property&gt; has 15 days left to acquire funding. Tell your friends! 2h</p>
                        </a>
                      </div>
                      <div class="list mar0" >
                        <a class="item item-avatar form-noti ">
                          <img src="img/GP.png">
                          <p class="wyt-spc">&lt;Property&gt;has just been added. Invest now! 60 days to fund. 2h</p>
                        </a>
                      </div> 
                      <div class="list mar0" >
                        <a class="item item-avatar form-noti">
                          <img src="img/GP.png">
                          <p class="wyt-spc">&lt;Property&gt; has just been added as a partner.2h </p>
                        </a>
                      </div> 
                      <div class="list mar0" >
                        <a class="item item-avatar form-noti">
                          <img src="img/GP.png">
                          <p class="wyt-spc">&lt;Document&gt; has just been added to your dashboard. 2h </p>
                        </a>
                      </div> 
                      <div class="list mar0" >
                        <a class="item item-avatar form-noti">
                          <img src="img/GP.png">
                          <p class="wyt-spc">&lt;Report&gt; For &lt;Property&gt; has just been addedto your dashboard. 2h </p>
                        </a>
                      </div> 
                      <div class="list mar0" >
                        <a class="item item-avatar form-noti">
                          <img src="img/GP.png">
                          <p class="wyt-spc">&lt;Payment&gt;has successfully been processed. 2h</p>
                        </a>
                      </div> 
                      <div class="list mar0" >
                        <a class="item item-avatar form-noti">
                          <img src="img/GP.png">
                          <p class="wyt-spc">&lt;Payment&gt; was unsuccessfully processed. 2h</p>
                        </a>
                      </div> 
                      <div class="list mar0" >
                        <a class="item item-avatar form-noti">
                          <img src="img/GP.png">
                          <p class="wyt-spc">&lt;Property&gt; has 24 hours left. Last chance to invest! 2h </p>
                        </a>
                      </div>
                      <div class="list mar0" >
                        <a class="item item-avatar form-noti">
                          <img src="img/GP.png">
                          <p class="wyt-spc">&lt;Promotion&gt;if you invest in the next 24 hours. 2h </p>
                        </a>
                      </div>

                </div>
          </div>

          

</div>


  </ion-content>
   
</ion-view>
