<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->


    
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  

  <ion-tab icon-on="home-search-active" icon-off="home-search" href="#/tab/dashProperty" class="hidden-phone">
    <ion-nav-view name="dashProperty" title="home-search" ></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab  icon-off="chart-off" icon-on="chart-on" href="#/tab/investmentoverview" class="hidden-phone">
    <ion-nav-view name="propertyGraph" title="graph"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
    <!-- <ion-tab  icon-off="star-off" icon-on="star-on" href="#/tab/notification">
      <ion-nav-view name="tabNotification" title="star"></ion-nav-view>
    </ion-tab> -->
  <ion-tab icon-on="profile-off" icon-off="profile-on" href="#/tab/profile" class="hidden-phone">
    <ion-nav-view name="profile" title="profile" ></ion-nav-view>
  </ion-tab>
    <ion-tab icon-off="nav-off" icon-on="nav-on" ng-click="($root.value)?$root.stylem={'width': '0px'}:$root.stylem={'width': '80%'};$root.value=!$root.value" class="hidden-phone">
      <ion-nav-view name="documents"></ion-nav-view> 
    </ion-tab>

</ion-tabs>

