<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>

    <link rel="manifest" href="manifest.json">
     
    
    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
   
    <!--  <link href="lib/angular-datepicker/dist/angular-datepicker.min.css" rel="stylesheet" />-->
      <link href="lib/angularjs-datepicker/dist/angular-datepicker.css" rel="stylesheet" />
      <link href="css/style.css" rel="stylesheet">
      <script src="js/paypal-mobile-js-helper.js"></script>
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
      
      <script src="lib/signature_pad/src/signature_pad.js"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
      <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
      <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
      <script src="lib/clipboard/dist/clipboard.min.js"></script>
     
    <script src="js/app.js"></script>
      <script src="lib/angular-upload/angular-upload.min.js"></script>
      <script src="js/controllers/document.js"></script>

      <script src="lib/angularjs-datepicker/dist/angular-datepicker.js"></script>
      <script src="js/controllers/signUp.js"></script>
      <script src="js/services/cordovadialogservice.js"></script>
      <script src="js/services/httpservices.js"></script>
      <script src="js/controllers/termandcondition.js"></script>
      <script src="js/services/interceptor.js"></script>
      <script src="js/controllers/login.js"></script>
      <script src="lib/ngclipboard/dist/ngclipboard.min.js"></script>
      <script src="js/services/modalService.js"></script>
      <script src="js/services/datastoreservice.js"></script>
      <script src="lib/moment/min/moment.min.js"></script>
      <script src="js/controllers/investmentprocess.js"></script>
      <script src="js/controllers/dashproperty.js"></script>
      <script src="js/controllers/propertydetail.js"></script>
      <script src="js/services/cordovafiletransferservice.js"></script>
      <script src="js/controllers/investmentoverview.js"></script>
      <script src="js/controllers/profile.js"></script>
      <script src="js/controllers/homepage.js"></script>
      <script src="js/services/cordovacameraservice.js"></script>
      <script src="js/controllers/main.js"></script>
  </head>
  <body ng-app="starter" ng-controller="mainCtrl" class="platform-android platform-cordova platform-webview">
      <ion-nav-bar class="bar-clear custHeaderbar" style="background-color: white;" >
         
          <ion-nav-title style="border-bottom:1px solid #808080;text-align:center">
              <div class="hidden-desktop no-padding" >
             <div class="row no-padding " >

               <div class="col col-40 no-padding" style="border-bottom:1px solid #808080;text-align:left;" ><img src="img/growthlogo.png" style="width: 160px;padding-top:5px"></div>
                <div class="col col-60 " style="text-align: right;"><a class="button button-small hdr-btn-clr " href="#/tab/dashProperty" >
                        HOME
                        </a>&nbsp;<a class="button button-small hdr-btn-clr " href="#/tab/investmentoverview">
                         INVESTMENT OVERVIEW
                        </a>&nbsp;<a class="button button-small hdr-btn-clr " href="#/tab/profile">
                        MY ACCOUNT
                       </a>&nbsp;<a class="button button-small hdr-btn-clr " ng-click="($root.value)?$root.stylem={'width': '0px'}:$root.stylem=(ionic.Platform.isWebView())?{'width': '80%'}:{'width':'450px'};$root.value=!$root.value">
                        MENU
                        </a>
              </div>
            </div>
          </div>

           <div class="hidden-phone"  style="border-bottom:1px solid #808080;text-align:center;" >
              <img src="img/growthlogo.png" style="width: 160px;padding-top:5px">
           </div>
          </ion-nav-title>

      </ion-nav-bar>
      <ion-nav-view></ion-nav-view>
      <div class="sidenav border" id="789" ng-style="$root.stylem" style="color:#808080" ng-init="$root.value=false;">
          <ion-scroll ng-style="(ionic.Platform.isWebView())?{'height': '-webkit-calc(100vh - 153px)'}:{'height': '-webkit-calc(89vh)'};">
              <div class="list" style="height:80%">
                  <a class="item" href="#" ng-click="$root.stylem={'width': '0px'}">
                      Who We Are
                  </a> 
                   <a class="item" href="#" ng-click="$root.stylem={'width': '0px'}">
                      How it Work
                  </a>
                  <!-- <a class="item" href="#" ng-click="$root.stylem={'width': '0px'}">
                      What’s New
                  </a> -->
                  <!-- <a class="item" href="#" ng-click="$root.stylem={'width': '0px'}">
                      Raise Capital
                  </a> -->
                  <!-- <a class="item" href="#" ng-click="$root.stylem={'width': '0px'}">
                      Document Centre
                  </a> -->
                  <a class="item" href="#" ng-click="$root.stylem={'width': '0px'}">
                      Contact Us
                  </a>
                  <!-- <a class="item item-icon-right" ng-init="accordian=true" ng-click="(accordian)?accordian=false:accordian=true">
                      Accounts
                      <i class="icon" ng-show="accordian"><img src="img/down-arrow.png" style="width: 60%;"></i>
                      <i class="icon" ng-show="!accordian"><img src="img/up-arrow.png" style="width: 60%;"></i>
                  </a>

                  <a class="item" ng-hide="accordian" style="background-color:#e6e6e6" ui-sref="tab.investmentProcess" ng-click="$root.stylem={'width': '0px'}">
                      Profile
                  </a>
                  <a class="item" ng-hide="accordian" style="background-color:#e6e6e6" ui-sref="tab.document" ng-click="$root.stylem={'width': '0px'}">
                      Documents & Receipts
                  </a>
                  <a class="item" href="#" ng-click="$root.stylem={'width': '0px'}">
                      Disclaimer
                  </a> -->
                  <a class="item" href="#" ng-click="$root.stylem={'width': '0px'}">
                      Terms of Use & Privacy Policy
                  </a>
                  <a class="item" ng-click="$root.stylem={'width': '0px'};logout()">
                      Log Out
                  </a>

              </div>
             
          </ion-scroll>
          <div class="row" style="bottom: 0px;border-top:1px solid #b3b3b3" ng-if="(ionic.Platform.isWebView())">
              <div class="col col-25 text-center" style="display: flex;
    align-items: flex-end; " ng-click="fbSharing()"><img src="img/fb.png" style="width: 24px;height:36px;align-self: center; margin: 0 auto;"></div>
              <!--<div class="col col-25 text-center" style="display: flex;
        align-items: flex-end;" ng-click="linkedInSharing()"><img src="img/in.png" style="width: 40px;height:40px;align-self: center; margin: 0 auto;"></div>-->
              <div class="col col-25 text-center" style="display: flex; color:#3cbcb4; align-items: flex-end;" ng-click="whatsappSharing()">
                  <i class="icon ion-social-whatsapp-outline" style="font-size:40px;margin:0 auto"></i>
              </div>
                  <div class="col col-25 text-center" style="display: flex;
    align-items: flex-end;" ng-click="twitterSharing()"><img src="img/twit.png" style="width: 36px;height:36px;align-self: center; margin: 0 auto;"></div>
                  <div class="col col-25 text-center" style="display: flex;
    align-items: flex-end;" ng-click="instaSharing()"><img src="img/insta.png" style="width: 38px;height:38px;align-self: center; margin: 0 auto;"></div>
              </div>
      </div>
  </body>
</html>
