<ion-view>
  <ion-content class="has-header">



 
      <div class="row text-left" style="margin-top:20px">
        <div class="col">
            <img src="img/imgpic.png" style="position: absolute;margin-left: 16px; max-width: 70px;z-index:2 ">
        </div>
          <div class="col text-right">
              <h4>Elliott Howard</h4>
          </div>
         
      </div>
   <div class="row" style="position:absolute;height:44px;background-color:#33B9B1;color:white;z-index:0">
         
          
      </div>
    

    <div class="list" style="margin-top:52px">
          <div class="row ">
            <div class="col">
              <a class="item border-none item-icon-right"> 
                 Documents
              <i class="icon"><img src="img/down-arrow.png" style="width: 60%;"></i>
             </a>
             
             <label class="item  form-input-doc ">
                      <div class="row no-padding">
                         <div class="col col-60 fs-10">Property1 Package</div>
                         <div class="col col-20 fs-10 text-right">View</div>
                         <div class="col col-20 fs-10 text-right">Download</div>
                       </div>
              </label>

              <label class="item  form-input-doc " style="margin-top: 4px;">
                      <div class="row no-padding">
                         <div class="col col-60 fs-10">Property1 Package</div>
                         <div class="col col-20 fs-10 text-right">View</div>
                         <div class="col col-20 fs-10 text-right">Download</div>
                       </div>
              </label>
              <label class="item  form-input-doc " style="margin-top: 4px;">
                      <div class="row no-padding">
                         <div class="col col-60 fs-10">Property1 Package</div>
                         <div class="col col-20 fs-10 text-right">View</div>
                         <div class="col col-20 fs-10 text-right">Download</div>
                       </div>
              </label>

              <a class="item border-none item-icon-right"> 
                 Receipts
              <i class="icon"><img src="img/down-arrow.png" style="width: 60%;"></i>
             </a>
             
             <label class="item  form-input-doc ">
                      <div class="row no-padding">
                         <div class="col col-60 fs-10">Property1 Package</div>
                         <div class="col col-20 fs-10 text-right">View</div>
                         <div class="col col-20 fs-10 text-right">Download</div>
                       </div>
              </label>

              <label class="item  form-input-doc " style="margin-top: 4px;">
                      <div class="row no-padding">
                         <div class="col col-60 fs-10">Property1 Package</div>
                         <div class="col col-20 fs-10 text-right">View</div>
                         <div class="col col-20 fs-10 text-right">Download</div>
                       </div>
              </label>
              <label class="item  form-input-doc " style="margin-top: 4px;">
                      <div class="row no-padding">
                         <div class="col col-60 fs-10">Property1 Package</div>
                         <div class="col col-20 fs-10 text-right">View</div>
                         <div class="col col-20 fs-10 text-right">Download</div>
                       </div>
              </label>

            </div>
          </div>
      </div>

  </ion-content>
   
</ion-view>
