<ion-view hide-nav-bar="true">
    <ion-content class="content-cls">
        <div class="row">
            <div class="col text-center">
                <img src="img/logo.png" class="logo-img-center"/>
            </div>
        </div>


              <div class="row" >
                <div class="col text-center " style="padding: 40px;    padding-top: 20px;">
                    <p style="font-size: 16px;">You're almost there!<br>
                    <br>An email confirmation has been sent to you. Please confirm your email and then log in here!
                    <br><br> Thanks!</p>
                </div>
            </div>

        
      
            
            <div class="row" style="margin-top: 110px;">
                <div class="col text-center" style="color:white;font-size: 20px;" ui-sref="login">
                    Log in
                </div>
            </div>
      
    </ion-content>
    <div style="background-image:url('img/flowtingwater.png');background-size:cover;position:absolute;z-index:-1;width:100%;height:40%;bottom:0px">
    </div>
</ion-view>