<ion-view >
  <ion-content>
    <div class="list " style="margin-bottom: 0px;">
          <div class="item fs-14 " ui-sref="tab.investmentoverview" style="border-top: none;border-bottom: 16px solid #F2F2F2;" >
            INVESTMENTS OVERVIEW
          </div>
    </div>

      <div class="list " >
          <div class="row ">
            <div class="col">
              <p> <span class="fs-15 txt-lft" txt-lft>&lt;Property Name&gt;</span> <span class="fs-15 txt-rht" >Active</span></p>
             </div>
          </div>
          <div class="col">
          <div class="item item-image border-none">
              <img src="img/graph.png" style="width: 90%;">
            </div>
            </div>
      </div>

       <img src="img/imggrapgh.png" style="width: 100%;">

     

      <!-- <div class="list " style="opacity: 0.5;     background-color: rgba(0, 0, 0, 0.69);">
          <div class="row ">
            <div class="col">
              <p> <span style="float: left;     padding-left: 4px;">&lt;Property Name&gt;</span> <span style="float: right;    padding-right: 10px;">Active</span></p>
             </div>
          </div>
          <div class="col">
          <div class="item item-image border-none" style="   opacity: 0.5 ; background-color: rgba(0, 0, 0, 0.69);
">
              <img src="img/graph.png" style="width: 90%;     opacity: 0.5; background-color: rgba(0, 0, 0, 0.69);">
            </div>
            </div>
      </div> -->

    
       
  </ion-content>
</ion-view>
