<div class="animate">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header card-info card-inverse">
                    <h3 class="card-title">Filter</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-block">
                    <form name="filterForm" novalidate class="form-horizontal">
                      <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">Product Name
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <input type="text" placeholder="Product Name" name="product_name" class="form-control" ng-model="filter.product_name">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">Min Price
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <input type="number" placeholder="Min Price" name="min_price" class="form-control" ng-model="filter.min_price">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">Max Price
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <input type="number" placeholder="Max Price" name="max_price" class="form-control" ng-model="filter.max_price">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">Product Id
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <input type="number" placeholder="Product Id" name="product_id" class="form-control" ng-model="filter.product_id">
                          </div>
                      </div>
                      <div class="form-group text-right">
                          <button class="btn btn-success margin-right" type="submit" ng-click="filterProduct(filter)">Filter
                              <span>
                                  <i style="padding-left:6px;" class="fa fa-filter"></i>
                              </span>
                          </button>
                      </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>