<div class="animate">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header card-info card-inverse">
                    <h3 class="card-title">Update profile</h3>
                </div>
            </div>
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="card">
                <div class="card-block">
                 <div style="height: 200px">
                         
                          <div class="" style="text-align: center;">
                              <div class="" style="margin-right:0px;margin-left:0px">
                                  <img ng-src="{{url_prifix}}{{profile.photo_url}}" height="200" width="200" />
                              </div>
                            <button class="btn btn-primary" ngf-select="uploadPhoto($file)" accept="image/*">Upload
                                <span>
                                    <i style="padding-left:6px;" class="fa fa-cloud-upload"></i>
                                </span>
                            </button>
                        </div>
                      </div>
                      <br>
                      <br>
                    <form name="updatepropertyForm" novalidate class="form-horizontal">
                      <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">Name
                              <span class="text-danger">*</span>
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">

                            <input type="text" placeholder=" Name" name="property_name" class="form-control" ng-model="profile.first_name" required>
                            <div class="error-message padding-right" ng-show="updatepropertyForm.property_description_address.$invalid && !updatepropertyForm.property_description_address.$pristine">Enter Name</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">Last Name
                              <span class="text-danger">*</span>
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <input type="text" placeholder="Last Name" name="address" class="form-control" ng-model="profile.last_name" required>
                            <div class="error-message padding-right" ng-show="updatepropertyForm.address.$invalid && !updatepropertyForm.address.$pristine">Enter Last Name</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">Language
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <select class="form-control" ng-model="profile.language">

                              <option value="English">English</option>
                              <option value="Spanish">Spanish</option>
                            </select>
                          </div>
                      </div>
                        <div class="form-group">
                            <label class="hidden-sm hidden-xs col-md-5 control-label">
                                Email
                            </label>
                            <div class="col-xs-12 col-sm-12 col-md-5">
                                <input type="email" placeholder="Email" name="profile.email" class="form-control" ng-model="profile.email">
                            </div>
                        </div>
                        <br>
                        <hr>
                       
                        <h4 style="text-align: center">Password</h4>
                        <br>
                      <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">Current Password
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <input type="Password" placeholder="Current Password" name="province" class="form-control" ng-model="profile.passwordTemp">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">New Password
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <input type="Password" placeholder="New Password"   class="form-control" ng-model="profile.new_password">
                          </div>
                      </div>
                       <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">New Password
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <input type="Password" placeholder="New Password"   class="form-control" ng-model="profile.confirm_new_password">
                          </div>
                      </div>
                     
                     <div style="text-align: center;">
                     <button class="btn btn-primary" ng-click="updateProfile()">Update
                                <span>
                                    <i style="padding-left:6px;" class="fa"></i>
                                </span>
                            </button>
                     </div>
                     
                     
                      <!--<div class="row">
                        <div class="margin-top col-md-offset-2 col-md-3 col-sm-12 col-xs-12" ng-repeat="image_path in property.property_images track by $index">
                          <div>
                            <img height="170" width="170" src="{{image_path}}" class="thumb">
                            <i ng-click="removeChoices($index)" style="margin-top: 65px;font-size: 27px;cursor:pointer;" class="close pull-right fa fa-times"></i>
                          </div>
                        </div>
                      </div>-->
                       
                      <div class="form-group">
                          <button class="btn btn-success margin-right" ng-show="dat.hasData" type="button" ng-click="updateProfile(property)">Update Profile
                              <span>
                                  <i style="padding-left:6px;" class="fa fa-upload"></i>
                              </span>
                          </button>
                         
                      </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>